.layout_write_wrap{
    
    > header{

        &.layout_write_wrap_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 60px;

            > .right{
                display: flex;
                gap: 20px;
            }
        }
    }
}