.intro_wrap{
    background-image: url('/images/intro_bg.png');
    background-size: cover;
    background-position: center;
    display: block;

    .intro_logo{
        position: absolute;
        left: calc(50% - 30vw);
        bottom: 13vh;
        width: 60vw;
        filter: drop-shadow(0px 5px 15px rgba(25, 69, 113, 0.9));
    }
}