html, body{
    font-size: 10px;
    color: #383840;
    touch-action: manipulation; /* 줌, 더블 탭 방지 */
    -ms-touch-action: manipulation; /* IE 지원 */
    overscroll-behavior: contain; /* 추가적인 화면 확대 방지 */

}

.root{
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
}

input, textarea{
    display: flex;
    width: 100%;
    padding: 14.5px 0px;
    font-size: 1.5rem;
    line-height: 23px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    font-weight: 500;
    font-family: "Pretendard", sans-serif;
    outline: 0;
    border-radius: 0;

    &::placeholder{
        color: #979797;
    }
}

textarea{
    border-bottom: 0;
    min-height: 150px;
    overflow: hidden;
    resize: "none";
    border-bottom: 1px solid rgb(228, 228, 228);
}

.input_text_wrap{

}

button.btn_action_sheet_open{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18.5px 0px;
    border: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    outline: 0;
    background: none;

    > p{
        text-align: left;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        font-family: "Pretendard", sans-serif;
        color: #979797
    }

    > .checked_items{
        display: flex;
        flex-wrap: wrap;
        gap: 7px;

        > span{
            text-align: left;
            font-size: 1.4rem;
            line-height: 1.5rem;
            font-weight: 400;
            font-family: "Pretendard", sans-serif;
            padding: 4px 8px;
            background-color: rgb(238, 240, 246);
            border-radius: 50px;
        }
    }
}

.fish_list_wrap{
    margin-top: 20px;

    > h2{
        font-size: 1.5rem;
        line-height: 100%;
        margin-bottom: 10px;
    }
    > ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        > li{
            flex-grow: 1;

            > button{
                width: 100%;
                height: 145px;

                &.fish{
                    background-color: transparent;
                    border: 1px solid rgba(214, 216, 223);
                    display: flex;
                    flex-direction: column;

                    > .thumb_wrap{
                        position: relative;
                        width: 100%;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > span.cate{
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            background-color: #eef0f6;
                            padding: 4px 7px;
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        > .thumb_min{
                            
                        }
                    }

                    > .text{
                        display: flex;
                        flex-direction: column;
                        gap: 1px;
                        text-align: center;
                        width: 100%;
                        height: 45px;
                        align-items: center;
                        background-color: #fdfdfd;
                        justify-content: center;
                        border-top: 1px solid #ebf5f5;

                        > span{
                            font-size: 1.1rem;
                            font-weight: 600;
                            display: block;
                            width: 100%;
                        }

                        > p{
                            font-size: 1.2rem;
                        }
                    }
                }

                &.add{
                    border: 1px solid #aeeaf3;
                    background-color: #f0feff;
                    position: relative;
                    font-size: 0;
                    
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 20px;
                        height: 4px;
                        background: #aeeaf3;
                        left: calc(50% - 10px);
                        top: calc(50% - 2px);
                    }

                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 4px;
                        height: 20px;
                        background: #aeeaf3;
                        left: calc(50% - 2px);
                        top: calc(50% - 10px);
                    }
                }
            }
        }
    }
}

.fish_size_slider_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    > h4{
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.picture_wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;

    > .noPicture{
        font-size: 1.2rem;
        border: 1px solid #e1e1e1;
        padding: 10px 12px;
        border-radius: 10px;
        background-color: #fbfbfb;
        text-align: center;
    }

    > input[type="file"]{
        display: none;
    }

    > label{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #7d7d7d;
        text-align: center;
        height: 41px;
        font-size: 1.4rem;
        border-radius: 10px;
        font-weight: 600;

        > svg{
            width: 1.8rem;
            margin-right: 10px;
            margin-top: -1px;
        }
    }

    > img{
        width: 100%;
    }
}

// 버튼
.btn_save{
    font-size: 1.6rem;
    background: none;
    border: 0;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 50px;
    color: #fff;
    background-color: #00d7f3;
    word-break: keep-all;
}

.btn_modify{
    font-size: 1.6rem;
    background: none;
    border: 0;
    font-weight: 500;
    padding: 4px 0px;
    border-radius: 50px;
    color: #383840;
    background-color: transparent;
    word-break: keep-all;
}

.link_cancel{
    font-size: 1.6rem;
    font-weight: 500;
    word-break: keep-all;
    background-color: transparent;
    border: 0;
}

.link_header_before{
    font-size: 0;
    font-weight: 500;
    word-break: keep-all;
    background-color: transparent;
    border: 0;
}

.nickname_wrap{

    &.read{
        > span{
            font-size :1.2rem;
            color: #b3b3b3;
        }

        > p{
            font-size: 1.6rem;
            font-weight: 500;

            &.has_not{
                color: #6a6a6a;
            }
        }
    }
}

.default_p{
    font-size: 1.5rem;
}

.detail_wrap{
    > span{
        font-size :1.2rem;
        color: #b3b3b3;
    }

    > p{
        font-size: 1.6rem;
        font-weight: 500;

        &.has_not{
            color: #6a6a6a;
        }
    }
}