:global {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px); // 블러 효과
}

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255,255,255,0.5);
    // border-top: 5px solid #00ff9c;
    border-top: 5px solid red;
    border-radius: 50%;
    animation: spin 1s linear infinite; 
}