.action_sheet_wrap{
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100dvh;

    @keyframes action_sheet_show {
        0% {
            bottom: -300px;
            opacity: 0;
        }
        100% {
            bottom: 0;
            opacity: 1;
        }
    }

    > .action_sheet_min{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        animation: 0.3s ease 0s 1 normal none running action_sheet_show;
        max-height: calc(100dvh - 40px);

        &.active{
            animation: 0.3s ease 0s 1 normal none running action_sheet_show;
        }

        > .type_list{
            > ul{
                display: flex;
                flex-direction: column;
    
                > li{
                    border-bottom: 1px solid rgb(228, 228, 228);
    
                    > a{
                        padding: 18px 0;
                        display: block;
    
                        > p{
                            font-size: 2rem;
                            text-align: center;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        > .type_radio{
            display: grid;
            grid-template-rows: auto 1fr;
            max-height: calc(100dvh);
            
            > header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                background-color: #fff;
                border-radius: 20px 20px 0 0;
                padding: 0 20px;
            }

            > section{
                padding: 10px 20px 20px 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow-y: auto;
                max-height: calc(100dvh - 60px - 40px);
                
                > h2{
                    font-size: 2rem;
                    text-align: center;
                    width: 100%;
                }
    
                > .radio_list_wrap{
    
                    > .radio_group{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px 8px;
                        overflow-y: scroll;
                        max-height: 355px;
    
                        > .radio_item{
                            > label{
                                appearance: none; /* 기본(네이티브) 모양을 제거 */
                                box-sizing: border-box;
                                width: 100%;
                                height: 41px;
                                padding: 8px;
                                border-radius: 100px;
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 100%;
                                background-color: rgb(248, 248, 248);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                            }
        
                            > input[type="radio"]{
                                display: none;
                            }
        
                            > input[type="radio"]:checked + label{
                                color: #00c7e1;
                                background-color: #dcfbff;
                            }
                        }
                    }
                }
    
                > button{
                    margin-bottom: 20px;
                    border: 0;
                    background-color: #00d7f3;
                    border-radius: 100px;
                    height: 50px;
                    font-size: 1.6rem;
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }
}