header.submenupage_header{
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-bottom: 1px solid #E9E9E9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    max-width: 600px;
    min-width: 320px;
    margin:0 auto;

    > .title{
        display: flex;
        align-items: center;
        gap: 10px;

        > .logo{
            width: 65px;
        }

        > hr{
            display: block;
            width: 2px;
            height: 10px;
            background-color: #F3F3F5;
            border: 0;
        }

        > .menu_name{
            height: 18px;
        }
    }

    > .header_btn_wrap{
        height: 100%;
        display: flex;
        justify-content: center;
        
        > button{
            border: 0;
            background-color: transparent;
        }
    }
}