.kakaomap_print_wrap{

    .kakaomap_print_min{
        width: 100%;
        height: 300px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
    }
}