.layout_write_wrap{
    
    > header{

        &.layout_write_wrap_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 60px;
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: #fff;

            > .right{
                display: flex;
                gap: 20px;
            }
        }
    }
}

.contents_wrap{
    padding: 10px 20px 20px 20px;
    overflow-y: auto;
    
    > h2{
        font-size: 1.8rem;
        font-weight: 800;
    }

    > ul{
        display: flex;
        flex-direction: column;
    }
}